[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=mpv-zui
Comment=A GUI to launch local files or urls in mpv.
Exec=/usr/bin/mpv-zui
Icon=/usr/share/icons/mpv-zui.png
Terminal=false